<main class="container-md py-4">

    <div class="container-fluid my-1">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin-panel/books">Kitaplar</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= book.name %></li>
            </ol>
        </nav>
    </div>

    <div class="container-fluid bg-white mb-5 border border-dark-subtle rounded-3 p-3 print">
        <div class="row">
            <h1><%= book.name %></h1>
        </div>
        <div class="container-fluid mt-3">
            <div class="row row-cols-1 row-cols-md-2 mb-3">
                <div class="col mb-1 mb-md-auto">
                    <span><strong>Yazar: </strong> <%= book.author %></span>
                </div>
                <div class="col">
                    <span><strong>Kitap Eklenme Tarihi: </strong><%= new Date(book.added_at + " UTC").toLocaleString('tr-TR', { day: 'numeric', month: 'long', year: 'numeric', hour: '2-digit', minute: '2-digit', timeZone: 'Asia/Istanbul' }) %></span>
                </div>
            </div>
            <div class="row my-2 border border-dark-subtle rounded-3 p-3">
                <div class="col">
                    <h3>Kitap Açıklaması</h3>
                    <%= book.description %>
                </div>
            </div>
            <div class="row my-2">
                <div class="col rounded-3 fs-4">
                    <strong>Fiyat: </strong><%= book.price %><span> TL</span>
                </div>
            </div>

            <div class="row my-2 no-print">
                <div class="col">
                    <a href="/admin-panel/books" class="btn bg-primary text-light w-100" role="button">Geri Dön</a>
                </div>
            </div>

            <div class="row my-2 no-print">
                <div class="col">
                    <btn class="btn bg-primary text-light w-100" role="button" onclick="window.print()"><i class="bi bi-printer"></i> Sayfayı Yazdır</btn>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid my-2">
        <h2><i class="bi bi-chat-left-text"></i> Yorumlar</h2>
        <% if(isAuthenticated) { %>
            <div class="container-fluid my-1 alert-sent d-none">
                <div class="alert alert-success" role="alert">
                    Yorumunuz başarıyla eklendi
                </div>
            </div>
            <form id="commentForm" method="POST">
                <div class="form-floating mb-3">
                    <textarea name="comment" class="form-control" id="commentInput" placeholder="Enter Book Description" required></textarea>
                    <label for="commentInput">Yorumunuz <span class="text-danger">*</span></label>
                </div>
                <button class="btn bg-primary text-light w-100" type="submit">Yorum Ekle</button>
            </form>
        <% } else { %>
            <p class="border border-dark-subtle rounded-3 p-3">Yorum ekleyebilmek için lütfen <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/login">giriş yapın</a></p>
        <% } %>

        <h3 class="comment-count mt-4 mb-1"><%= "Tüm Yorumlar (" + (statistics.totalComments > 0 ? statistics.totalComments + ' adet)' : 'Yorum Yok)') %></h3>
        <div class="comments-field my-3">
            <% if(comments.length > 0) { %>
                <% comments.forEach(comment => { %>
                    <div class="card my-1 w-100">
                        <div class="card-body">
                            <h5 class="card-title"><%= comment.name %></h5>
                            <h6 class="card-subtitle mb-2 text-muted"><%= new Date(comment.created_at + ' UTC').toLocaleString('tr-TR', {day: 'numeric',month: 'long',year: 'numeric',hour: '2-digit',minute: '2-digit',timeZone: 'Asia/Istanbul',}) %></h6>
                            <p class="card-text"><%= comment.comment %></p>
                        </div>   
                    </div>                   
                <% }); %>
            <% } %>
        </div>
    </div>
</main>
<a class="btn text-bg-primary position-fixed top-0 end-0 m-1 p-2 rounded-circle d-flex justify-content-center align-items-center" style="width: 2.5em;height: 2.5em;" role="button" href="/admin-panel"><i class="bi bi-person-gear"></i></a>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/comment.js"></script>