<main class="container-md py-4">
    <div class="mb-5">
        <h1>Hoş Geldin!</h1>
        <h2>
            <% if(userRole === 'admin')  { %>
                <span class="underline-effect"><%="Sayın yönetici " + user.name %></span> 
            <% } else { %>
                <span class="underline-effect"><%= user.name %></span>
            <% } %>
        </h2>
    </div>
    <% if(query.message === "success") { %>
        <div class="container-fluid my-1">
            <div class="alert alert-success" role="alert">
                Değişiklikler başarıyla kaydedildi
            </div>
        </div>
    <% } else if(query.message === "wrong-password") { %>
        <div class="container-fluid my-1">
            <div class="alert alert-danger" role="alert">
                Mevcut şifreniz yanlış!
            </div>
        </div>
    <% } else if(query.message === "invalid-password") { %>
        <div class="container-fluid my-1">
            <div class="alert alert-danger" role="alert">
                Şifreniz uygun değil, lütfen kriterlere uygun şifre belirleyin!
            </div>
        </div>
    <% } else if(query.message === "notmatch-password") { %>
        <div class="container-fluid my-1">
            <div class="alert alert-danger" role="alert">
                Şifreniz doğru değil!
            </div>
        </div>
    <% } else if(query.message === "same-password") { %>
        <div class="container-fluid my-1">
            <div class="alert alert-danger" role="alert">
                Şifreniz önceki şifreniz ile aynı olamaz!
            </div>
        </div>
    <% } else if(query.message === "error") { %>
        <div class="container-fluid my-1">
            <div class="alert alert-danger" role="alert">
                Bir hata oluştu, değişiklikler kaydedilemedi!
            </div>
        </div>
    <% } %>
    <div class="container-fluid my-1 alert-saved d-none">
        <div class="alert alert-success" role="alert">
            Değişiklikler başarıyla kaydedildi
        </div>
    </div>
    <div class="row my-3">
        <h3 class="mb-2"><i class="bi bi-stars"></i> Sana Özel</h3>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card text-white bg-primary">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-book"></i> Kitaplar</h5>
                    <p class="card-text">Toplam <%= statistics.totalBooks %> kitap</p>
                    <a href="/books" class="btn btn-light">Tümünü Görüntüle</a>
                    <a href="/account/myfavorites" class="btn btn-light"><i class="bi bi-star-fill text-warning"></i> Favorilerim (<%= statistics.totalFavorites %>)</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card bg-danger text-white">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-book"></i> Eklediğim Kitaplar</h5>
                    <p class="card-text">Toplam <%= statistics.totalMyBooks %> kitap ekledin</p>
                    <a href="/account/mybooks" class="btn btn-light">Tümünü Görüntüle</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card bg-warning">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-chat-left-text"></i> Yorumlarım</h5>
                    <p class="card-text">Toplam <%= statistics.totalComments %> yorumun var</p>
                    <a href="/account/mycomments" class="btn btn-light">Tümünü Görüntüle</a>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-2">
        <% if(userRole === 'admin')  { %>
            <a class="btn bg-primary text-light w-100" role="button" href="/admin-panel"><i class="bi bi-person-gear"></i> Yönetici Paneli</a>
        <% } %>
    </div>
    <% if(query.req === "delete-account") { %>
        <button id="openDeleteAccountModalBtn" class="btn bg-primary text-light w-100 opacity-0" type="button" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">Sil</button>
        <div class="modal fade" id="deleteAccountModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Hesabını silmek istediğine emin misin?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/account?req=delete-account" method="POST" class="form-floating my-3">
                        <h5 class="mt-1 mb-3"><i class="bi bi-lock"></i> Lütfen şifreni gir</h5>
        
                        <div class="form-floating mb-3">
                            <input type="password" name="deleteUserByPassword" class="form-control" id="deleteUserPasswordInput" placeholder="Enter Your Current Password" required>
                            <label for="deleteUserPasswordInput"> Mevcut Şifreniz <span class="text-danger">*</span></label>
                        </div>
                        <div class="row mb-2">
                            <div class="col">(<span class="text-danger">*</span>) zorunlu</div>
                        </div>
                        <button class="btn bg-danger text-light w-100" type="submit">Hesabımı Sil</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Vazgeç</button>
                </div>
                </div>
            </div>
        </div>
    <% } %>
    <ul class="nav nav-tabs align-items-center" id="accountTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="personalInfo-tab" data-bs-toggle="tab" data-bs-target="#personalInfo-tab-pane" type="button" role="tab" aria-controls="personalInfo-tab-pane" aria-selected="true"><i class="bi bi-file-person text-danger"></i> Kişisel Bilgiler</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="avatar-tab" data-bs-toggle="tab" data-bs-target="#avatar-tab-pane" type="button" role="tab" aria-controls="avatar-tab-pane" aria-selected="false"><i class="bi bi-person-square text-info"></i> Avatarını Değiştir</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="password-tab" data-bs-toggle="tab" data-bs-target="#password-tab-pane" type="button" role="tab" aria-controls="password-tab-pane" aria-selected="false"><i class="bi bi-lock-fill text-warning"></i> Şifre İşlemleri</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="security-tab" data-bs-toggle="tab" data-bs-target="#security-tab-pane" type="button" role="tab" aria-controls="security-tab-pane" aria-selected="false"><i class="bi bi-shield-fill-check text-success"></i> Hesap Güvenliği</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="other-tab" data-bs-toggle="tab" data-bs-target="#other-tab-pane" type="button" role="tab" aria-controls="other-tab-pane" aria-selected="false"><i class="bi bi-three-dots text-black"></i> Diğer İşlemler</button>
        </li>
    </ul>
    <div class="tab-content" id="accountTabsContent">
    <div class="tab-pane fade show active" id="personalInfo-tab-pane" role="tabpanel" aria-labelledby="personalInfo-tab" tabindex="0">
        <form id="userDataForm" class="form-floating my-3" method="POST">
            <h4 class="display-5 mb-3 text-center">Kişisel Bilgilerim</h4>
            <div class="d-flex justify-content-center align-items-center mb-3">
                <img class="rounded-circle avatar-img" src="/assets/img/avatars/<%= user.avatar %>.png" alt="ekinn.site Logo" style="width: calc(7rem + 4vw);">
            </div>
            <div class="input-group mb-3">
                <div class="form-floating">
                    <input type="text" name="userName" class="form-control" id="userNameInput" placeholder="Enter Your Name" value="<%= user.name %>" required readonly>
                    <label for="userNameInput">Adınız <span class="text-danger">*</span></label>
                </div>
                <button class="btn btn-success input-edit-btn" type="button"><i class="bi bi-pencil-square"></i></button>
            </div>

            <div class="input-group mb-3">
                <div class="form-floating">
                    <input type="text" name="userSurname" class="form-control" id="userSurnameInput" placeholder="Enter Your Surname" value="<%= user.surname %>" required readonly>
                    <label for="userSurnameInput">Soyadınız <span class="text-danger">*</span></label>
                </div>
                <button class="btn btn-success input-edit-btn" type="button"><i class="bi bi-pencil-square"></i></button>
            </div>

            <div class="form-floating mb-3">
                <input type="email" name="userEmail" class="form-control" id="userEmailInput" placeholder="Enter Your Email" value="<%= user.email %>" required disabled readonly>
                <label for="userEmailInput">E-postanız <span class="text-danger">*</span></label>
            </div>

            <div class="row mb-2">
                <div class="col"><strong><%= new Date(user.joined_at + " UTC").toLocaleString('tr-TR', { day: 'numeric', month: 'long', year: 'numeric', hour: '2-digit', minute: '2-digit', timeZone: 'Asia/Istanbul' }) %></strong> tarihinden beridir üyesiniz</div>
            </div>
        
            <div class="row mb-2">
                <div class="col">(<span class="text-danger">*</span>) zorunlu</div>
            </div>
            <button class="btn bg-success text-light w-100" type="submit">Değişiklikleri Kaydet</button>
        </form>
    </div>
    <div class="tab-pane fade" id="avatar-tab-pane" role="tabpanel" aria-labelledby="avatar-tab" tabindex="1">
        <ul class="list-group my-3">
            <li class="list-group-item active">Avatarını Değiştir</li>
            <li class="list-group-item">
                <select class="form-select avatar-select" aria-label="Default select change">
                    <option selected>Değiştirmek için tıklayın</option>
                    <option value="0">Sevimli Kedi</option>
                    <option value="1">Sarı Ördek</option>
                    <option value="2">Köy Muhtarı</option>
                    <option value="3">Düşünceli Kadın</option>
                    <option value="4">Zafer Adamı</option>
                    <option value="5">Şimşek Lordu</option>
                    <option value="6">Süper Araba</option>
                    <option value="7">Korsan Yunus</option>
                    <option value="8">Cadıların İksir Gecesi</option>
                    <option value="9">Kadın Korsan</option>
                    <option value="10">Erkek Korsan</option>
                    <option value="11">Yarasa</option>
                    <option value="12">Noel Baba</option>
                    <option value="13">Çöldeki Adam</option>
                </select>
            </li>
            <li class="list-group-item">Değişiklikler otomatik kaydedilir ve hemen yansır</li>
        </ul>
    </div>
    <div class="tab-pane fade" id="password-tab-pane" role="tabpanel" aria-labelledby="password-tab" tabindex="2">
        <form action="/account?req=change-password" method="POST" class="form-floating my-3">
            <h4 class="display-5 mb-3 text-center">Şifre İşlemleri</h4>
            <div class="row my-4">
                <div class="col">
                    <ul class="list-group">
                        <li class="list-group-item active" aria-current="true"><i class="bi bi-clock-history"></i> Şifrenizi en son değiştirdiğiniz tarih</li>
                        <li class="list-group-item"><%= user.lastPasswordUpdate_at ? new Date(user.lastPasswordUpdate_at).toLocaleString('tr-TR', { day: 'numeric', month: 'long', year: 'numeric', hour: '2-digit', minute: '2-digit' }) : "-" %></li>
                    </ul>
                </div>
            </div>
            <h5 class="mt-1 mb-3"><i class="bi bi-lock"></i> Şifreni Değiştir</h5>

            <div class="input-group mb-3">
                <div class="form-floating">
                    <input type="password" name="userPassword" class="form-control user-password-input" id="userPasswordInput" placeholder="Enter Your Current Password" data-toggle-id="1" required>
                    <label for="userPasswordInput"> Mevcut Şifreniz <span class="text-danger">*</span></label>
                </div>
                <button class="btn password-show-hide-toggle" type="button" data-toggle-id="1" style="background-color: #f0f0f0;"><i class="bi bi-eye-fill" data-toggle-id="1"></i></button>
            </div>

            <div class="input-group mb-3">
                <div class="form-floating">
                    <input type="password" name="userNewPassword" class="form-control user-password-input" id="userNewPasswordInput" placeholder="Enter Your Password" data-toggle-id="2" required>
                    <label for="userNewPasswordInput">Yeni Şifreniz <span class="text-danger">*</span></label>
                </div>
                <button class="btn password-show-hide-toggle" type="button" data-toggle-id="2" style="background-color: #f0f0f0;"><i class="bi bi-eye-fill" data-toggle-id="2"></i></button>
            </div>
            <div class="row password-validator my-1">
                <div class="row">
                    <div class="col text-danger"><i class="bi bi-exclamation-lg"></i>Şifrenin uzunluğu en az 8 karakter olmalı</div>
                </div>
                <div class="row">
                    <div class="col text-danger"><i class="bi bi-exclamation-lg"></i>Şifren en az 1 büyük ve 1 küçük harf içermeli</div>

                </div>
                <div class="row">
                    <div class="col text-danger"><i class="bi bi-exclamation-lg"></i>Şifren en az 1 rakam içermeli</div>
                </div>
                <div class="row">
                    <div class="col text-danger"><i class="bi bi-exclamation-lg"></i>Şifren "123" veya "6789" gibi art arda yazılmış 2'den fazla tahmin etmesi kolay ve sıralı rakamları içermemeli</div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">(<span class="text-danger">*</span>) zorunlu</div>
            </div>
            <button class="btn bg-primary text-light w-100" type="submit">Şifreni Değiştir</button>
        </form>
    </div>
    <div class="tab-pane fade" id="security-tab-pane" role="tabpanel" aria-labelledby="security-tab" tabindex="3">
        <div class="row my-3">
            <div class="col">
                <ul class="list-group mb-3">
                    <li class="list-group-item active" aria-current="true">Her Yerden Oturumunu Kapat</li>
                    <li class="list-group-item"><a class="link-success link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/logout-all"><i class="bi bi-person-fill-x"></i> Tüm Oturumlarından Çıkış Yap</a></li>
                    <li class="list-group-item">Tüm cihazlardan çıkış yapılır</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="other-tab-pane" role="tabpanel" aria-labelledby="other-tab" tabindex="4">
        <div class="row my-3">
            <div class="col">
                <ul class="list-group mb-3">
                    <li class="list-group-item active" aria-current="true">Gizlilik Politikası</li>
                    <li class="list-group-item"><a class="link-primary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/privacy-policies"><i class="bi bi-incognito"></i> Gizlilik Politikası</a></li>
                </ul>

                <ul class="list-group">
                    <li class="list-group-item active" aria-current="true">Hesap Silme</li>
                    <li class="list-group-item"><a class="link-danger link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/account?req=delete-account"><i class="bi bi-person-dash"></i> Hesabımı Sil</a></li>
                    <li class="list-group-item">Hesabına ait tüm bilgiler silinir</li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</main>
<script src="/assets/js/alert.js"></script>
<script src="/assets/js/account.js"></script>
<script src="/assets/js/passwordShowHide.js"></script>